﻿@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section facebook
{
    <div id="fb-root"></div>
    <script type="text/javascript">
        var rootUrl = "/tcl";
        window.fbAsyncInit = function () {
            FB.init({
                appId: '218953664875129', // App ID
                channelUrl: '//facebook.vietdev.vn/tcl/channel.html', // Channel File
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token 
                    // and signed request each expire
                    var user_id = response.authResponse.userID;

                    //if (window.location.href.toLowerCase().indexOf("/candle") >= 0) {
                    //    var opts = {
                    //        message: 'Thổi nến nhận quà - Cơ hội nhận nhiều phần quà hấp dẫn từ sinh nhật lần thứ 45 của Oriflame',
                    //        name: '',
                    //        link: 'http://facebook.com/oriflame.vn',
                    //        description: 'Thổi nến nhận quà - Cơ hội nhận nhiều phần quà hấp dẫn từ sinh nhật lần thứ 45 của Oriflame',
                    //        picture: 'http://facebook.vietdev.vn/oriflame_45y/Content/Images/icon.jpg'
                    //    };

                    //    FB.api('/' + user_id + '/feed', 'post', opts, function (response) {
                    //        if (!response || response.error) {
                    //            //alert(response.error);
                    //        }
                    //        else {
                    //            //alert('Success - Post ID: ' + response.id);
                    //        }
                    //    });

                    //    $('#postLink').click(function () {
                    //        var opts = {
                    //            message: 'Thổi nến nhận quà - Chúc mừng bạn đã dành được phần quà đặc biệt từ Oriflame.',
                    //            name: '',
                    //            link: 'http://facebook.com/oriflame.vn',
                    //            description: 'Thổi nến nhận quà - Chúc mừng bạn đã dành được phần quà đặc biệt từ Oriflame.',
                    //            picture: 'http://facebook.vietdev.vn' + $('#postLink').attr('data-giftimage')
                    //        };

                    //        FB.api('/' + user_id + '/feed', 'post', opts, function (response) {
                    //            if (!response || response.error) {
                    //                //alert(response.error);
                    //            }
                    //            else {
                    //                //alert('Success - Post ID: ' + response.id);
                    //            }
                    //        });
                    //    });

                    //    $('#postLink').click();
                    //}

                    //var page_id = "117657251618598";
                    //var fql_query = "SELECT uid FROM page_fan WHERE page_id=" + page_id + " and uid=" + user_id;

                    //FB.api({
                    //    method: 'fql.query',
                    //    query: fql_query
                    //},
                    //function (rows) {
                    //    if (rows[0]) {
                    // Already like
                    FB.api('/me', function (response) {
                        $('#FacebookID').val(user_id);
                        $('#FacebookName').val(response.name);

                        // Get friends
                        FB.api('/me/friends', function (response) {
                            var friends = new Array();

                            for (var index = 0; index < response.data.length; index++) {
                                var objFriend = {
                                    key: response.data[index].id,
                                    name: response.data[index].name,
                                    id: response.data[index].id,
                                    rank: 0
                                };
                                friends[index] = objFriend;
                            }

                            // Get all tagged
                            FB.api('/me/tagged?limit=1000', function (response) {
                                for (var index = 0; index < response.data.length; index++) {
                                    var objFriend = findObj(friends, response.data[index].from.id);
                                    if (objFriend != null) {
                                        ++objFriend.rank;
                                    }
                                }

                                // Get all posts, until time (UNIX time)
                                FB.api('/me/posts?limit=200&until=1346544000', function (response) {
                                    for (var index = 0; index < response.data.length; index++) {
                                        if (response.data[index].likes && response.data[index].likes.count > 0) {
                                            for (var i = 0; i < response.data[index].likes.data.length ; i++) {
                                                var objFriend = findObj(friends, response.data[index].likes.data[i].id);
                                                if (objFriend != null) {
                                                    ++objFriend.rank;
                                                }
                                            }
                                        }

                                        if (response.data[index].comments && response.data[index].comments.count > 0) {
                                            for (var i = 0; i < response.data[index].comments.data.length ; i++) {
                                                var objFriend = findObj(friends, response.data[index].comments.data[i].from.id);
                                                if (objFriend != null) {
                                                    ++objFriend.rank;
                                                }
                                            }
                                        }
                                    }

                                    // Order friends list
                                    friends.sort(sortFunction);

                                    $('#loading').hide();

                                    for (var i = 0; i < 7 ; i++) {
                                        $('#friendList').append("<div>" + friends[i].name + ": " + friends[i].rank + "</div>");
                                    }
                                });
                            });
                        });
                    });
                    //    } else {
                    //        window.location = rootUrl + '/Home/Index';
                    //    }
                    //});

                    $('#postPhoto').click(function () {
                        $('#loading').show();
                        var params = {
                            message: "photo description",
                            url: "http://facebook.vietdev.vn/tcl/Content/Images/temp.jpg",
                            tags: new Array(
                                {
                                    tag_uid: "703512747",
                                    x: 32,
                                    y: 32
                                })
                        };

                        FB.api('/photos', 'post', params, function (response) {
                            $('#loading').hide();
                            if (!response || response.error) {
                                alert(response.error.message);
                            }
                            else {
                                alert("Successful");
                            }
                        });
                    });
                } else if (response.status === 'not_authorized') {
                        // the user is logged in to Facebook, 
                        // but has not authenticated your app
                    window.location = rootUrl + '/Home/Index';
                } else {
                    // the user isn't logged in to Facebook.
                    window.location = rootUrl + '/Home/Index';
                }
            }, true);

            FB.Canvas.setAutoGrow();
        };

        function findObj(array, key) {
            for (var index = 0; index < array.length; ++index) {
                if (array[index].key == key) {
                    return array[index];
                }
            }

            return null;
        }

        function sortFunction(a, b) {
            return b.rank - a.rank;
        }

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
}

<div id="loading" class="popup-shadow">
    Please waiting....
</div>
<input type="hidden" id="FacebookID" />
<input type="hidden" id="FacebookName" />

<a id="postPhoto" href="javascript:void(0);">Post photo to FB</a>

<div id="friendList">
</div>
