﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section facebook
{
    <div id="fb-root"></div>
    <script type="text/javascript">
        var rootUrl = "/tcl";
        window.fbAsyncInit = function () {
            FB.init({
                appId: '218953664875129', // App ID
                channelUrl: '//facebook.vietdev.vn/tcl/channel.html', // Channel File
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token 
                    // and signed request each expire
                    var user_id = response.authResponse.userID;

                    //var page_id = "117657251618598";
                    //var fql_query = "SELECT uid FROM page_fan WHERE page_id=" + page_id + " and uid=" + user_id;

                    //FB.api({
                    //    method: 'fql.query',
                    //    query: fql_query
                    //},
                    //function (rows) {
                    //    if (rows[0]) {
                    //        // Already like
                    //        window.location = rootUrl + '/Home/Index';
                    //    }
                    //});

                    window.location = rootUrl + '/Home/Friends';
                }
            }, true);


            $('#facebookLogin').click(function () {
                FB.login(function (response) {
                    if (response.authResponse) {
                        //var user_id = response.authResponse.userID;
                        //var page_id = "117657251618598";
                        //var fql_query = "SELECT uid FROM page_fan WHERE page_id=" + page_id + " and uid=" + user_id;

                        //FB.api({
                        //    method: 'fql.query',
                        //    query: fql_query
                        //},
                        //function (rows) {
                        //    if (rows[0]) {
                        //        // Redirect to Home page
                        //        window.location = rootUrl + '/Home/Friends';
                        //    }
                        //});
                        window.location = rootUrl + '/Home/Friends';
                    }
                }, { scope: 'email,user_likes,user_photos,user_status,user_videos,read_friendlists,read_stream,publish_stream' });
            });


            // Listen to the auth.login which will be called when the user logs in
            // using the Login button
            FB.Event.subscribe('auth.login', function (response) {
                // We want to reload the page now so PHP can read the cookie that the
                // Javascript SDK sat. But we don't want to use
                // window.location.reload() because if this is in a canvas there was a
                // post made to this page and a reload will trigger a message to the
                // user asking if they want to send data again.
                //window.location.href = window.location.href;
            });

            FB.Canvas.setAutoGrow();
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
}
@*<a id="facebookLogin">Login</a>*@
<div class="content">
    <div class="front">
        <ul>
            @for (int i = 0; i < 7; i++)
            {
                string image = (i + 1) + ".png";
                <li>
                    <div class="thumb">
                        <div class="honor">
                            @if (i == 0)
                            {
                                <img src="~/Content/Images/honor1.png" />
                            }
                            else if (i == 1)
                            {
                                <img src="~/Content/Images/honor2.png" />
                            }
                            else
                            {
                                <img src="~/Content/Images/honor.png" />
                            }
                            <span class="thumbnumber">
                                <img src='/Content/Images/@image' width="6px" height="13px" /></span>
                        </div>
                        <img src="/Content/Images/anyone.jpg" />
                    </div>
                    <div class="text">
                        <span class="title">Ngô Thị Hạnh Phúc</span>
                        <p class="text-left">Nghĩ về bạn</p>
                        <p class="number">150</p>
                        <p class="text-right">lần</p>
                    </div>
                    @if (i != 6)
                    {
                        <div style="border-bottom: 2px solid #e0c28f; clear: both;"></div>
                    }
                </li>
            }
        </ul>
    </div>
</div>
