﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.content {
    width: 450px;
    height: 580px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: url(../Content/Images/bg.png) no-repeat;
}

.front {
    width: 394px;
    height: 444px;
    background: #ffffcc;
    float: left;
    margin-top: 110px;
    margin-left: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

    .front ul {
        display: block;
        padding: 0px;
        margin: 0px;
    }

        .front ul li {
            list-style: none;
            height: 55px;
            padding-top: 8px;
            /*margin-bottom:5px;*/
        }

.thumb {
    padding: 0px;
    margin: 0px;
    width: 147px;
    float: left;
}

    .thumb .honor {
        height: 53px;
        float: left;
        padding-left: 20px;
        position: relative;
    }


    .thumb img {
        width: 55px;
        height: 52px;
        float: right;
    }

    .thumb .thumbnumber {
        position: absolute;
        top: 12px;
        left: 43px;
        font: 15px Arial;
    }

.thumbnumber img {
    width:8px;
    height:13px;
}

.text {
    width: 205px;
    float: left;
    margin-left: 25px;
}

    .text .title {
        font: 15px Arial;
        font-weight: bold;
    }

    .text p {
        font: 12px Arial;
        color: #666666;
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
    }

        .text p.text-left {
            float: left;
        }

        .text p.text-right {
            float: right;
            padding-right: 55px;
        }

    .text .number {
        font: 20px Arial;
        font-weight: bold;
        color:#d51233;
        float: left;
        margin: 5px;
        margin-left: 15px;
        text-shadow: 1px 1px 3px #000;
        filter: dropshadow(color=#000, offx=1, offy=1);
    }
